body {
	
	padding: 0px;
	margin: 0px;
	
	width: 100%;
	height: 100%;
	
	background: #333333;
}

#start {
	
	display: block;
	width: 100%;
	height: 100%;
}

#start_wrapper {
	
	width: 50%;
	margin: auto;
	margin-top: 10%;
}

#matchid {
	
	width: calc(100% - 20px);
	padding: 10px;
	border: 1px solid #000000;
	margin: 10px 0px 10px 0px;
}

#startbtn {
	
	width: 100%;
	padding: 10px;
	border: 1px solid #76FF03;
	background: #76FF03;
}

#game {
	
	display: none;
}